<div id="chatcontainer">
    <div id="chatbox">
        <h3 id="receiver"></h3>
        <div id="realchat" style="overflow:auto">
            <!-- <div class="mymsgs msgs">
                <p>Ayee</p>
            </div>
            <div class="othersmsgs msgs">
                <p>Hiii</p>
            </div>
            <div class="mymsgs msgs">
                <p>Heyy how are you doing? Heyy how are you doing? Heyy how are you doing?</p>
            </div> -->
        </div>
        <div id="sendmsgs">
            <input type="text" id="newmsg" placeholder="Enter a Message...">
            <button id="sendnewmsg" onclick="send(<%=JSON.stringify(users)%>)">Send</button>
        </div>
    </div>
    <div id="chatlist" onload="user(<%=session%>)">
        <h3>Connected People List</h3>
        <div id="chatnamesdiv">
            <% for(let i=0;i<users.length;i++){ %>
            <div id="chatcard" onclick="clicked(<%=i%>,<%=JSON.stringify(users)%>)">
                <img src="/images/profile.png" alt="Profile Photo">
                <p id="chatusername"><%=users[i].name%></p>
                <span id="useronline" class="online"></span>
            </div>
            <%}%>
        </div>
    </div>
</div>
<script src='/socket.io/socket.io.js'></script>

<script>
    var socket = io.connect();
    var us;
    function user(session) {
        socket.emit('new', { name: session.username }, function (data) {
            // console.log(data, "jquery");
            if (data) {
                getMessages();

                console.log("accepted");



            } else {
                console.log("failed");

            }
        });
    };
    function clicked(i, users) {
        us = i;
        users = JSON.stringify(users);
        users = JSON.parse(users);
        socket.emit('new', { name: users[i].name }, function (data) {
            // console.log(data, "jquery");
            $("#receiver").html(users[i].name);
            if (data) {
                console.log("accepted");

            } else {
                console.log("failed");

            }
        });
    }

    function send(user) {

        console.log("Us", us);
        console.log(user);
        user = JSON.stringify(user);
        let msg = $("#newmsg").val();
        user = JSON.parse(user);
        getMessages();
        socket.emit('msg', {
            to: user[us].name, msg: msg
        });
    };

    function getMessages() {
        $.get('http://localhost:3000/messages', (data) => {
            console.log(data.length, "data");
            console.log(data[0].message);
            for (let i = 0; i < data.length; i++) {
                if (data[i].message !== undefined) {
                    console.log(data, "getReq");
                    addMessages(data[i].message);
                }
            }
        })
    }
    function addMessages(message) {
        console.log(message, "message");
        var str = '<div class="mymsgs msgs"><p>' + message + '</p></div > ';
        $("#realchat").append(str);
    }
    socket.on('priv', function (data) {
        addMessages(data);
    })

    function setmsgwidth() {
        var cwidth = $('#chatbox').width();
        $('#sendmsgs').width(cwidth);
    }
    $(document).ready(function () {
        setmsgwidth();
        $(window).resize(function () {
            setmsgwidth();
        });
    });
</script>