<div id="questioncontainer" class="paddeddivs">
    <div id="questionheaderinfo">
        <div id="questionasker">
            <a href="">
                <img src="/images/profile.png" alt="Avatar" class="avatar">
                <p><%= user_name %></p>
            </a>
        </div>
        
        <h4 id="questionheader"><%= result[0].title %></h4>
        <p id="quesid1" hidden ><%= result[0]._id %></p>
    </div>
    <div id="questiondesc">
        <div id="questioncontent">
            <p>
                <%= result[0].description %>
            </p>
        </div>
        <div id="questionoptionsdiv">
            <p class="questionoption">
                <span class="statvalue">110</span>
                <span class="statname"><img src="/images/upvote.png" alt="Upvote/Like"></span>
            </p>
            <p class="questionoption" id="postnewcomment">
                <span class="statvalue">1</span>
                <span class="statname">Comments</span>
            </p>
            <span class="questionoption" id="report">Report</span>
        </div>
    </div>
    <div id="addcomment">
        <textarea id="newcomment" rows="10" placeholder="Type in your comment here..."></textarea>
        <div>
            <button id="postcomment" class="searchbutton">Comment</button>
            <button id="cancel" class="searchbutton button-light">Cancel</button>
        </div>
    </div>
    <div id="commentsdiv">
        <% cresult.forEach((cresult)=>{ %>
        <div class="commentcard">
            <p class="commentor"><a href=""><%= cresult.createdBy %></a></p>
            <p class="commentcontent"><%= cresult.message %></p>
            <div class="commentoptionsdiv">
                <p class="commentoption">
                    <span class="commentstatvalue">10</span>
                    <span class="commentstatname">Likes</span>
                </p>
                <p class="commentoption" id="replycomment">Reply</p>
            </div>
        </div>
        <% }) %>
        
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#postnewcomment').click(function(){
        $('#addcomment').fadeToggle(500);
        });
        $('#newcomment').click(function(){
        $(this).select();
        });
        $('#cancel').click(function(){
            $('#newcomment').val('');
            $('#addcomment').fadeOut(500);
        });
        $('#replycomment').click(function(){
            var u = $(this).parent().parent().find('.commentor').find('a').text();
            $('#addcomment').fadeIn(500);
            $('#newcomment').val('@'+u+' ').focus();
            $(window).scrollTop($('#addcomment').position().top);
        });
    });

    $(document).ready(function(){
        $("#postcomment").on('click',function(e){
            e.preventDefault();
            let newcomment = $("#newcomment").val();
            let url = "/add_cmmnt";
            let quesid1 = $("#quesid1").text();
            $.post(url,{newcomment:newcomment , quesid1:quesid1}).done(function(data){
                        if(data = "succes"){
                            $.ajax({
                                url: '/question/'+quesid1+'',
                                type: 'GET',
                                cache: false,
                            }).done(function(result){
                                $('#maincontent').html(result);
                            });
                        }
                        else if('unsucces'){
                            swal({
                                title: "Registration Unsuccessful!",
                                text: "Please Retry Later",
                                icon: "error",
                                });
                        }else{}
                    });

        });
    });
</script>


   